<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
	<default>
		<layered_ajax>
            <general>
                <enable>1</enable>
                <price_slider>1</price_slider>
                <open_all_tab>0</open_all_tab>
            </general>
        </layered_ajax>
	</default>
</config>
