<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
    	<add id="Rokanthemes_Onsaleproduct::rokanbase_onsaleproduct" title="Onsale Products" module="Rokanthemes_Onsaleproduct" sortOrder="0" parent="Rokanthemes_RokanBase::rokanbase_setting" resource="Rokanthemes_Onsaleproduct::rokanbase_onsaleproduct" action="adminhtml/system_config/edit/section/onsaleproduct" />
    </menu>
</config>
