/**
 * custom theme 2020-06-08 12:19:56 */

#newsletter_pop_up{
width: 1091px;height: 484px;background-image: url(http://staging.franciskirk.shop/pub/media/rokanthemes/newsletter/background/default/bg_newsletter_popup_1.jpg);background-repeat: no-repeat;
background-position: 95% center;
background-position: center top;}
