/**
 * custom theme 2021-04-10 13:27:47
 */



#newsletter_pop_up{
width: 1091px;height: 484px;background-color: #FFFFFF;background-image: url(https://franciskirk.shop/pub/media/rokanthemes/newsletter/background/default/Fransis_kirk_NewsLetter_2.png);background-repeat: no-repeat;
background-position: 95% center;
background-position: center top;
}

html, body { 

	font-family: Lato;

}



