<div data-bind="if: displayAtThisLocation, visible: isPaymentRequestAPISupported">
  <div class="payment-group">
    <div class="step-title mobile" data-role="title">
      <!-- ko i18n: 'Instant Payment Checkout' --><!-- /ko -->
    </div>
    <div class="payment-method stripe-payments mobile">
      <div class="stripe-payments stripe-payments-apple-pay-section">
        <label data-bind="visible: showApplePayButton()"><!-- ko i18n: 'Buy now with Apple Pay' --><!-- /ko --></label>
        <div id="payment-request-button" data-bind=""></div>
      </div>

      <div class="checkout-agreements checkout-agreements-block">
          <!-- ko foreach: getRegion('beforeMethods') -->
              <!-- ko template: getTemplate() --><!-- /ko -->
          <!--/ko-->
      </div>

    </div>
  </div>
</div>

