<?xml version="1.0"?>
<!--
/**
 * Cminds MultiUserAccounts module config.
 *
 * @category Cminds
 * @package  Cminds_MultiUserAccounts
 * @author   Cminds Team <info@cminds.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cminds_MultiUserAccounts" setup_version="1.10.0">
        <sequence>
            <module name="Magento_Config"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Multishipping"/>
        </sequence>
    </module>
</config>
