<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
	<default>
		<cataloginventory>
			<options>
				<delivery_label>Ship In 3 - 5 days</delivery_label>
			</options>
		</cataloginventory>
	</default>
</config>
