<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <stripe_payments>
                <active>1</active>
                <model>StripePaymentsFacade</model>
                <stripe_test_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <stripe_live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <payment_action>authorize_capture</payment_action>
                <title>Pay by Card (Stripe)</title>
                <card_icons>0</card_icons>
                <card_icons_specific>amex,discover,diners,jcb,mastercard,visa</card_icons_specific>
                <icons_location>right</icons_location>
                <radar_risk_level>10</radar_risk_level>
                <currency>USD</currency>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <use_store_currency>1</use_store_currency>
                <moto_exemptions>0</moto_exemptions>
                <card_autodetect>2</card_autodetect>
                <cctypes>visa,mastercard,amex,jcb,discover,diners</cctypes>
                <ccsave>1</ccsave>

                <!-- What can we do? -->
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_save_cc>0</can_save_cc>
            </stripe_payments>
            <stripe_payments_subscriptions>
                <model>StripeSubscriptionsFacade</model>
                <active>1</active>
                <shipping>add_to_subscription</shipping>
                <additional_info>1</additional_info>
            </stripe_payments_subscriptions>
            <stripe_payments_express>
                <model>StripeExpressFacade</model>
                <apple_pay_checkout>1</apple_pay_checkout>
                <apple_pay_location>1</apple_pay_location>
                <cart_button>1</cart_button>
                <product_button>1</product_button>
                <minicart>1</minicart>
                <ccsave>1</ccsave>
                <button_type>default</button_type>
                <button_theme>dark</button_theme>
                <button_height>50</button_height>
            </stripe_payments_express>
            <stripe_payments_bancontact>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Bancontact</model>
                <title>Bancontact</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BE</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>20</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_bancontact>
            <stripe_payments_giropay>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Giropay</model>
                <title>Giropay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>30</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_giropay>
            <stripe_payments_ideal>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Ideal</model>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>40</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_ideal>
            <stripe_payments_multibanco>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Multibanco</model>
                <title>Multibanco</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PT</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>50</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_multibanco>
            <stripe_payments_eps>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Eps</model>
                <title>EPS</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
                <sort_order>60</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_eps>
            <stripe_payments_p24>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\P24</model>
                <title>Przelewy24</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
                <allowed_currencies>EUR,PLN</allowed_currencies>
                <sort_order>70</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_p24>
            <stripe_payments_sepa>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Sepa</model>
                <title>SEPA Direct Debit</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,CY,EE,FI,FR,DE,GR,IE,IT,LV,LT,LU,MT,NL,PT,SK,SI,ES,BG,HR,CZ,DK,HU,PL,RO,SE,GB,IS,LI,NO,MC,SM,CH</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>80</sort_order>
                <payment_action>authorize</payment_action>
                <can_use_internal>1</can_use_internal>
            </stripe_payments_sepa>
            <stripe_payments_sepa_credit>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\SepaCredit</model>
                <title>SEPA Credit Transfers</title>
                <minimum_order_amount>1.00</minimum_order_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,CY,EE,FI,FR,DE,GR,IE,IT,LV,LT,LU,MT,NL,PT,SK,SI,ES,BG,HR,CZ,DK,HU,PL,RO,SE,GB,IS,LI,NO,MC,SM,CH</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>80</sort_order>
                <payment_action>authorize</payment_action>
                <customer_bank_account>0</customer_bank_account>
                <can_use_internal>1</can_use_internal>
            </stripe_payments_sepa_credit>
            <stripe_payments_sofort>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Sofort</model>
                <title>SOFORT</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,DE,NL,ES,IT</specificcountry>
                <allowed_currencies>EUR</allowed_currencies>
                <sort_order>90</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_sofort>
            <stripe_payments_alipay>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Alipay</model>
                <title>Alipay</title>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <allow_currencies>1</allow_currencies>
                <allowed_currencies>AUD,CAD,EUR,GBP,HKD,JPY,NZD,SGD,USD</allowed_currencies>
                <sort_order>100</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_alipay>
            <stripe_payments_wechat>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Wechat</model>
                <title>WeChat Pay</title>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <allow_currencies>1</allow_currencies>
                <allowed_currencies>AUD,CAD,EUR,GBP,HKD,JPY,NZD,SGD,USD</allowed_currencies>
                <sort_order>110</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_wechat>
            <stripe_payments_fpx>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Fpx</model>
                <title>FPX</title>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <allowed_currencies>MYR</allowed_currencies>
                <sort_order>120</sort_order>
                <payment_action>authorize</payment_action>
            </stripe_payments_fpx>
            <stripe_payments_klarna>
                <active>0</active>
                <model>StripeIntegration\Payments\Model\Method\Klarna</model>
                <title>Klarna</title>
                <specificcountry>AT,DK,FI,DE,NL,NO,SE,GB,CH,US</specificcountry>
                <sort_order>130</sort_order>
                <payment_action>authorize</payment_action>
                <custom_payment_methods>pay_now,pay_later,pay_over_time,payin4</custom_payment_methods>
            </stripe_payments_klarna>
            <stripe_payments_ach>
                <model>StripeIntegration\Payments\Model\Method\Ach</model>
                <active>0</active>
                <title>ACH Bank Account Transfer</title>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <allowed_currencies>USD</allowed_currencies>
                <sort_order>140</sort_order>
            </stripe_payments_ach>
        </payment>
    </default>
</config>
