<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="stripe_payments_data_assign" instance="StripeIntegration\Payments\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="stripe_payments_place_order_before" instance="StripeIntegration\Payments\Observer\OrderObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="stripe_payments_place_order_after" instance="StripeIntegration\Payments\Observer\OrderObserver" />
    </event>
    <event name="shortcut_buttons_container">
        <observer name="stripe_payments_express_buttons" instance="StripeIntegration\Payments\Observer\AddExpressButton"/>
    </event>

    <event name="payment_method_is_active">
        <observer name="stripe_payments_method_active" instance="StripeIntegration\Payments\Observer\PaymentMethodActiveObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="stripe_customer_register_success" instance="StripeIntegration\Payments\Observer\CustomerRegistration" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="stripe_email_order_set_template_vars_before" instance="StripeIntegration\Payments\Observer\SetOrderTemplateVars" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="stripe_customer_save_after_data_object" instance="StripeIntegration\Payments\Observer\CustomerDetailsChanged" />
    </event>

    <!-- Initial Fee -->
    <event name="checkout_cart_product_add_after">
        <observer name="add_initial_fee" instance="StripeIntegration\Payments\Observer\AddInitialFeeObserver" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="update_initial_fee_qty" instance="StripeIntegration\Payments\Observer\QtyUpdateObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="update_initial_fee_predispatch" instance="StripeIntegration\Payments\Observer\PredispatchObserver" />
    </event>
    <event name="stripe_payments_currency_switch">
        <observer name="update_initial_fee_currency_switch" instance="StripeIntegration\Payments\Observer\CurrencySwitchObserver" />
    </event>
    <event name="sales_quote_address_collect_totals_after">
        <observer name="add_initial_fee_tax" instance="StripeIntegration\Payments\Observer\AddInitialFeeTaxObserver" />
    </event>

    <!-- Webhooks -->
    <event name="stripe_payments_webhook_charge_refunded_card">
        <observer name="stripe_payments_webhook_charge_refunded_card_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_refunded_bank_account">
        <observer name="stripe_payments_webhook_charge_refunded_bank_account_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_refunded_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_charge_refunded_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_refunded">
        <observer name="stripe_payments_webhook_charge_refunded_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_captured">
        <observer name="stripe_payments_webhook_charge_captured_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- FPX -->
    <event name="stripe_payments_webhook_payment_intent_succeeded_fpx">
        <observer name="stripe_payments_webhook_payment_intent_succeeded_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_payment_intent_payment_failed_fpx">
        <observer name="stripe_payments_webhook_payment_intent_payment_failed_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <event name="stripe_payments_webhook_invoice_payment_succeeded">
        <observer name="stripe_payments_webhook_invoice_payment_succeeded_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_invoice_payment_failed">
        <observer name="stripe_payments_webhook_invoice_payment_failed_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- SEPA Credit Transfers -->
    <event name="stripe_payments_webhook_source_transaction_created_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_source_transaction_created_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- source.chargeable -->
    <event name="stripe_payments_webhook_source_chargeable_bancontact">
        <observer name="stripe_payments_webhook_source_chargeable_bancontact_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_giropay">
        <observer name="stripe_payments_webhook_source_chargeable_giropay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_ideal">
        <observer name="stripe_payments_webhook_source_chargeable_ideal_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_sepa_debit">
        <observer name="stripe_payments_webhook_source_chargeable_sepa_debit_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_sofort">
        <observer name="stripe_payments_webhook_source_chargeable_sofort_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_multibanco">
        <observer name="stripe_payments_webhook_source_chargeable_multibanco_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_eps">
        <observer name="stripe_payments_webhook_source_chargeable_eps_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_przelewy">
        <observer name="stripe_payments_webhook_source_chargeable_przelewy_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_alipay">
        <observer name="stripe_payments_webhook_source_chargeable_alipay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_wechat">
        <observer name="stripe_payments_webhook_source_chargeable_wechat_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_klarna">
        <observer name="stripe_payments_webhook_source_chargeable_klarna_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_chargeable_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_source_chargeable_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- source.canceled -->
    <event name="stripe_payments_webhook_source_canceled_bancontact">
        <observer name="stripe_payments_webhook_source_canceled_bancontact_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_bancontact">
        <observer name="stripe_payments_webhook_source_failed_bancontact_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_giropay">
        <observer name="stripe_payments_webhook_source_canceled_giropay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_giropay">
        <observer name="stripe_payments_webhook_source_failed_giropay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_ideal">
        <observer name="stripe_payments_webhook_source_canceled_ideal_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_multibanco">
        <observer name="stripe_payments_webhook_source_canceled_multibanco_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_eps">
        <observer name="stripe_payments_webhook_source_canceled_eps_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_przelewy">
        <observer name="stripe_payments_webhook_source_canceled_przelewy_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_alipay">
        <observer name="stripe_payments_webhook_source_canceled_alipay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_wechat">
        <observer name="stripe_payments_webhook_source_canceled_wechat_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_klarna">
        <observer name="stripe_payments_webhook_source_canceled_klarna_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_source_canceled_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- source.failed -->
    <event name="stripe_payments_webhook_source_failed_ideal">
        <observer name="stripe_payments_webhook_source_failed_ideal_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_sepa_debit">
        <observer name="stripe_payments_webhook_source_canceled_sepa_debit_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_sepa_debit">
        <observer name="stripe_payments_webhook_source_failed_sepa_debit_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_canceled_sofort">
        <observer name="stripe_payments_webhook_source_canceled_sofort_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_sofort">
        <observer name="stripe_payments_webhook_source_failed_sofort_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_multibanco">
        <observer name="stripe_payments_webhook_source_failed_multibanco_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_eps">
        <observer name="stripe_payments_webhook_source_failed_eps_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_przelewy">
        <observer name="stripe_payments_webhook_source_failed_przelewy_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_alipay">
        <observer name="stripe_payments_webhook_source_failed_alipay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_wechat">
        <observer name="stripe_payments_webhook_source_failed_wechat_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_klarna">
        <observer name="stripe_payments_webhook_source_failed_klarna_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_source_failed_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_source_failed_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- charge.succeeded -->
    <event name="stripe_payments_webhook_charge_succeeded_bancontact">
        <observer name="stripe_payments_webhook_charge_succeeded_bancontact_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_giropay">
        <observer name="stripe_payments_webhook_charge_succeeded_giropay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_ideal">
        <observer name="stripe_payments_webhook_charge_succeeded_ideal_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_sepa_debit">
        <observer name="stripe_payments_webhook_charge_succeeded_sepa_debit_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_sofort">
        <observer name="stripe_payments_webhook_charge_succeeded_sofort_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_multibanco">
        <observer name="stripe_payments_webhook_charge_succeeded_multibanco_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_eps">
        <observer name="stripe_payments_webhook_charge_succeeded_eps_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_przelewy">
        <observer name="stripe_payments_webhook_charge_succeeded_przelewy_observer"
                  instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_alipay">
        <observer name="stripe_payments_webhook_charge_succeeded_alipay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_wechat">
        <observer name="stripe_payments_webhook_charge_succeeded_wechat_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_klarna">
        <observer name="stripe_payments_webhook_charge_succeeded_klarna_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_charge_succeeded_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- charge.failed -->
    <event name="stripe_payments_webhook_charge_failed_bancontact">
        <observer name="stripe_payments_webhook_charge_failed_bancontact_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_giropay">
        <observer name="stripe_payments_webhook_charge_failed_giropay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_ideal">
        <observer name="stripe_payments_webhook_charge_failed_ideal_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_sepa_debit">
        <observer name="stripe_payments_webhook_charge_failed_sepa_debit_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_sofort">
        <observer name="stripe_payments_webhook_charge_failed_sofort_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_eps">
        <observer name="stripe_payments_webhook_charge_failed_eps_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_przelewy">
        <observer name="stripe_payments_webhook_charge_failed_przelewy_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_alipay">
        <observer name="stripe_payments_webhook_charge_failed_alipay_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_wechat">
        <observer name="stripe_payments_webhook_charge_failed_wechat_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_klarna">
        <observer name="stripe_payments_webhook_charge_failed_klarna_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_sepa_credit_transfer">
        <observer name="stripe_payments_webhook_charge_failed_sepa_credit_transfer_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

    <!-- Automatic Webhooks Configuration -->
    <event name="automatic_webhook_configuration">
        <observer name="automatic_webhook_configuration_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksConfigurationObserver" />
    </event>

    <!-- ACH -->
    <event name="stripe_payments_webhook_customer_source_updated">
        <observer name="stripe_payments_webhook_customer_source_updated_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded_bank_account">
        <observer name="stripe_payments_webhook_charge_succeeded_bank_account_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_failed_bank_account">
        <observer name="stripe_payments_webhook_charge_failed_bank_account_observer"
            instance="StripeIntegration\Payments\Observer\WebhooksObserver" />
    </event>

</config>
