<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
    	<add id="Rokanthemes_PriceCountdown::rokanbase_pricecountdown" title="Price Countdown" module="Rokanthemes_PriceCountdown" sortOrder="0" parent="Rokanthemes_RokanBase::rokanbase_setting" resource="Rokanthemes_PriceCountdown::rokanbase_pricecountdown" action="adminhtml/system_config/edit/section/pricecountdown" />
    </menu>
</config>
