<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="pricecountdown" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Price Countdown</label>
            <tab>rokanthemes</tab>
			<resource>Rokanthemes_PriceCountdown::rokanbase_pricecountdown</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="activate_pricecountdown" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate Price Countdown</label>
                    <comment>Activate Product Timer</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="activate_rokanthemes_heading" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timer Heading:</label>
                    <comment>Timer Heading</comment>
                    <source_model>Rokanthemes\PriceCountdown\Model\Config\Source\Heading</source_model>
                </field>
                <field id="activate_rokanthemes_description" translate="label comment" type="select" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timer Caption:</label>
                    <comment>Timer Caption</comment>
                    <source_model>Rokanthemes\PriceCountdown\Model\Config\Source\Caption</source_model>
                </field>
				<field id="heading" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timer Title:</label>
                    <comment>Timer Title</comment>
                </field>
            </group>
            <group id="pricecountdown_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Price Count Down Slider Config</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="auto" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto slide:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="title" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title:</label>
                    <comment>Timer Title</comment>
                </field>
				<field id="speed" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slideshow Speed:</label>
                    <comment>Timer Title</comment>
                </field>				
				<field id="show_price" translate="label comment" type="select" sortOrder="40"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Price:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>			
				<field id="addtocart" translate="label comment" type="select" sortOrder="50"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to cart:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>		
				<field id="addtowishlist" translate="label comment" type="select" sortOrder="60"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Wishlist:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>	
				<field id="addtocompare" translate="label comment" type="select" sortOrder="70"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Compare:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="review" translate="label comment" type="select" sortOrder="80"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Review Rating:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="description" translate="label comment" type="select" sortOrder="90"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Short Description:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="maxlength" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Short Description Max Length:</label>
                    <comment>Empty for display all short description.</comment>
                </field>
				<field id="qty" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qty of Product:</label>
                </field>
				<field id="itemsDefault" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Default:</label>
                </field>
				<field id="itemsDesktop" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items On Desktop:</label>
                </field>
				<field id="itemsDesktopSmall" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items On Desktop Small:</label>
                </field>
				<field id="itemsTablet" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items On Tablet:</label>
                </field>
				<field id="itemsMobile" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items On Mobile:</label>
                </field>
				<field id="row_show" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Rows Show:</label>
                </field>
				<!-- <field id="width_thumbnail" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width of Thumbnail:</label>
                </field>
				<field id="height_thumbnail" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height of Thumbnail:</label>
                </field> -->
				<field id="next_back" translate="label comment" type="select" sortOrder="130"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Next/Back control:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="nav_ctrl" translate="label comment" type="select" sortOrder="90"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show navigation control:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product_page" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product View Page</label>
                <field id="enable_p_v" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="messages_p_v" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <depends>
                        <field id="enable_p_v">1</field>
                    </depends>
                </field>
                <field id="end_date_p_v" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>End Date</label>
                    <depends>
                        <field id="enable_p_v">1</field>
                    </depends>
                    <frontend_model>Rokanthemes\PriceCountdown\Block\EndDatePicker</frontend_model>
                </field>
                <field id="from_date_p_v" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>From Date</label>
                    <depends>
                        <field id="enable_p_v">1</field>
                    </depends>
                    <frontend_model>Rokanthemes\PriceCountdown\Block\FromDatePicker</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
