<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <verticalmenu>
            <general>
                <enable>1</enable>
                <menu_type>fullwidth</menu_type>
                <static_width>500px</static_width>
                <max_level></max_level>
				<limit_show>8</limit_show>
            </general>
            <custom_links>
                <staticblock_before>rokanthemes_vertical_menu_before</staticblock_before>
                <staticblock_after>rokanthemes_vertical_menu</staticblock_after>
            </custom_links>
            <cat_labels>
                <label1>New</label1>
                <label2>Hot!</label2>
                <label3>Sale</label3>
            </cat_labels>
        </verticalmenu>
    </default>
</config>
