<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		<add id="Rokanthemes_VerticalMenu::verticalmenu" title="Vertical Menu" module="Rokanthemes_VerticalMenu" sortOrder="0" parent="Rokanthemes_RokanBase::rokanbase_setting" resource="Rokanthemes_VerticalMenu::verticalmenu" action="adminhtml/system_config/edit/section/verticalmenu" />
    </menu>
</config>