<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="verticalmenu" frontName="verticalmenu">
            <module name="Rokanthemes_VerticalMenu" before="Magento_Backend" />
        </route>
    </router>
</config>